.game {
  width: 600px;
  height: 200px;
  border-bottom: solid 1px black;
  margin: auto;
}
.dino {
  width: 50px;
  height: 50px;
  background-image: url(img/pngwing.com.png);
  background-size: 50px 50px;
  position: relative;
  top: 150px;
}
.cactus {
  width: 20px;
  height: 40px;
  background-image: url(img/toppng.com-cactus-of-mexico-svg-png-icon-free-download-cactus-black-546x980.png);
  background-size: 20px 40px;
  position: relative;
  top: 110px;
  left: 580px;
  animation: cactusMov 3s infinite linear;
}
.cloud {
  width: 40px;
  height: 40px;
  background-image: url(img/cloud-3.png);
  background-size: 40px 40px;
  position: relative;
  top: -20px;
  left: 580px;
  animation: cactusMov 12s infinite linear;
}
.cloud-2 {
  width: 40px;
  height: 40px;
  background-image: url(img/cloud-3.png);
  background-size: 40px 40px;
  position: relative;
  top: -20px;
  left: 580px;
  animation: cactusMov 9s infinite ease-in;
}
.sun {
  width: 40px;
  height: 40px;
  background-image: url(img/s2.png);
  background-size: 40px 40px;
  position: relative;
  top: -120px;
  left: 480px;
}
@keyframes cactusMov {
  0% {
      left: 580px;
  }
  100% {
      left: -20px;
  }
} 
@keyframes cloudMov {
  0% {
      left: 580px;
  }
  100% {
      left: -20px;
  }
} 
.jump {
  animation: jump 0.3s linear;
}
@keyframes jump {
  0% {
      top: 150px;
  }
  30% {
      top: 120px;
  }
  50% {
      top: 100px;
  }
  80% {
      top: 120px;
  }
  100% {
      top: 150px;
  }
}